<div class="footer">
    <div class="footer-container">
        <div class="social-icons">
            <i class="fa-brands fa-square-facebook fa-2x"></i>
            <i class="fa-brands fa-instagram fa-2x"></i>
            <i class="fa-brands fa-linkedin fa-2x"></i>
        </div>
        <div class="brand-name">
            <p>&copy; All The Right Hold by Wonderlust </p>
        </div>
        <div class="link">
            <a href="/privacy">Privacy</a>
            <a href="/contact">Contact</a>
        </div>
    </div>
</div>