 
    <% layout("/Layouts/boilerplate")  %>
<body>
    <h1>Create new List</h1>
    <form action="/listing" method="post">
        <input type="text" name="n_title" placeholder="Enter Title">
        <br><br>
        <input type="text" name="n_image" placeholder="Enter link/url">
        <br><br>
        <textarea name="n_description" rows="10" col="10" placeholder="Description here"></textarea>
        <br><br>
        <input type="number" name="n_price" placeholder="Enter Price">
        <br><br>
        <input type="text" name="n_location" placeholder="Enter location">
        <br><br>
        <input type="text" name="n_country" placeholder="Enter Country">
        <br><br>
        <button type="submit">Create New</button>
    </form>
</body>
 