 
    <% layout("/Layouts/boilerplate")  %>
<body>
    <h1>Create new List</h1>
    <form action="/listing" method="post">

        <div class="mb-3">
            <label for="title" class="form-label">Title</label>
            <input type="text" name="n_title" class="form-control" placeholder="Enter Title">
           
        </div>

       
        <div class="mb-3">
            <label for="description" class="form-label">Description</label>
            <textarea name="n_description"   class="form-control textarea" placeholder="Description here"></textarea>
        </div>
         <div class="mb-3">
            <label for="image" class="form-label">Image</label>
            <input type="text" name="n_image" class="form-control" placeholder="Enter link/url">
        </div>


        <div class="row">

            <div class="mb-3  col-lg-6 col-md-6 col-sm-12">
                <label for="price" class="form-label">Price</label>
                <input type="number" name="n_price" class="form-control" placeholder="Enter Price">
            </div>
            <div class="mb-3 col-lg-6 col-md-6 col-sm-12">
                <label for="location" class="form-label">Location</label>
                
                <input type="text" name="n_location"  class="form-control" placeholder="Enter location">
            </div>
        </div>
        
        <div class="mb-3">
             <label for="country" class="form-label">Country</label>

             <input type="text" name="n_country" class="form-control" placeholder="Enter Country">
         </div>
         
        <button class="btn btn-dark" type="submit">Create New</button>
    </form>
</body>
 