body{
      font-family: "Lato", sans-serif;
      min-height: 100vh;
      display: flex;
      flex-direction: column;
   
}
.container{
    flex:1;
}

/* Nav bar */

.navbar{
    height: 5rem;
    font-size: 1rem;
}
.nav-link{
    font-weight: 700 !important;
    color: black !important;
    font-family: "Lato", sans-serif;
}
.navbar-brand{
    color: purple !important;
    font-size: 2rem;
}

/* footer Style */

.footer{
    

    display: flex;
    align-items: center;
    justify-content: center;
    background-color: azure;
     

 
}
.footer-container{
    margin-bottom: 2rem;
    margin: 1rem;

}
.social-icons {
    margin-bottom: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    cursor: pointer;
}
.brand-name {
    display:flex;
    align-items: center;
    justify-content: center;
}
.link{
    display:flex;
    align-items: center;
    justify-content: center;
     gap: 1rem;
}
.link a{
    text-decoration: none;
    color: black;
}
.link a:hover{
    text-decoration: underline;
}

/* All listing  */
.card{
    cursor: pointer;
}
.card a{
    text-decoration: none;
    color: black;
}
.card-image{
    border-radius: 1rem;
    width: 100%;
    object-fit: cover;
}
.card-img-overlay{
    opacity: 0;
}
.card-img-overlay:hover{
    opacity: 0.2;
    background-color:rgb(255, 255, 255);
}
